@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap");
.div_articles {
  display: flex;
  min-height: 75vh;
  flex-flow: column wrap;
  align-content: center;
  justify-content: center;
}
.div_articles_loading {
  font-family: "Teko", sans-serif;
  font-size: 30px;
  letter-spacing: 7px;
}
.div_article_card {
  display: flex;
  flex-flow: column wrap;
  width: 775px;
  margin-bottom: 25px;
  font-family: "Inria Sans", sans-serif;
}
.div_article_card_text {
  height: auto;
  margin-top: 15px;
  font-size: medium;
  border: 0.1px solid white;
  padding: 15px 15px 15px 15px;
  white-space: pre-line;
}
.div_article_card_title {
  font-family: "Iceland";
  font-size: 25px;
  font-weight: 500;
  letter-spacing: 5px;
  font-style: normal;
}
.div_article_card_rating {
  margin-top: 0;
}
.div_article_card_header {
  padding-bottom: 0px;
}
.div_article_card_img {
  border: 0.1px solid white;
}

.div_articles_view {
  display: flex;
  flex-flow: row wrap;
  /* width: 250px; */
  justify-content: space-between;
}

.div_articles_pagination {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 5px;
}

.div_articles_pagination button{
  font-size: 14px;
}

.pagination-button.active {
  background-color: #007bff;
  color: #fff;
}
