.div_comments {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
}
.div_comment_card {
  padding: 15px 15px 15px 15px;
  width: 745px;
  border: 0.1px solid white;
  display: flex;
  flex-flow: column wrap;
  /* align-content: stretch; */
  margin-bottom: 25px;
  font-family: "Inria Sans", sans-serif;
}
