.div_signup_form {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 100px;
}
.div_signup_form_inner {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
